
@{
    ViewBag.Title = "Q03001";
}
<script src="~/Apps/JSController/Query/Q03001Controller.js"></script>
<script src="~/Apps/JSService/Query/Q03001Service.js"></script>
<script src="~/Apps/JSService/Menu/menuService.js"></script>

<div class="container" ng-app="BloodBank" ng-controller="Q03001Controller">
    <div class="container">
        <div class="row">
            <div>
                <center>
                    <div style="margin: 10px auto; width: 1050px;">
                        <table>
                            <tr>
                                <td>
                                    <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover" style="width: 1050px;"></table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </center>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
