
@{
    ViewBag.Title = "T12256";
}


<script src="~/Apps/JSController/Transaction/T12256Controller.js"></script>
<script src="~/Apps/JSService/Transaction/T12256Service.js"></script>

<div class="form-horizontal" ng-app="BloodBank" ng-controller="T12256Controller" name="obj.myDiv" novalidate ng-form id="myDiv">
    <h2>T12256</h2>

</div>